// Button
.btn {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: inherit;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: inherit;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  outline: transparent;
  cursor: pointer;
  user-select: none;

  &:focus {
    box-shadow: 0 0 0 2px rgba($white, 0.4);
  }

  &--ghost,
  &--bk {
    @include respond(min-md) {
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }

  &--ghost {
    padding: 11.5px 28px;
    border: 1px solid $white;
    font-size: 18px;
    line-height: 1.27;
    letter-spacing: 1.35px;
    text-transform: uppercase;
  }

  &--bk {
    padding: 10px 20px;
    background-color: $onyx;
    line-height: 1.5;
  }
}
