// Button
.btn {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: inherit;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &--bk {
    padding: 10px 20px;
    background-color: $onyx;
    line-height: 1.5;
  }

  @include respond(min-md) {
    &:hover {
      background-color: $white;
      color: $black;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($white, 0.4);
    }
  }
}
