<!-- Header -->
header#header.header
  .header__row.header__row--top
    .container
      .header__inner.header__inner--top.d-f
        ul.header__list.d-f
          li.header__item
            a.header__phone(href="tel:+442079460612")
              svg.header__phone-icon
                use(href="images/sprite.svg#phone-outline")
              | +44 20 7946 0612
          li.header__item
            | Mon - Sun
          li.header__item
            | 10:00 — 20:00
        button.header__btn.btn
          svg.header__btn-icon
            use(href="images/sprite.svg#log-in")
          | Log In / Register

  .header__row.header__row--bottom
    .container
      .header__inner.header__inner--bottom.d-f
        a.header__logo(href="#")
          img.header__logo-img(src='images/logos/logo.png' alt="PORTEN - Men's jewellery and luxury accessories")
        menu.header__menu.d-f
          button.header__menu-btn.js-nav-btn(title ='Menu')
            span.header__line
            span.header__line
            span.header__line
          nav.header__nav.js-nav-menu
            ul.header__nav-list.d-f
              li.header__nav-item
                a.header__nav-link(href="#")
                  | Favorites
              li.header__nav-item
                a.header__nav-link(href="#")
                  | Account
              li.header__nav-item
                a.header__nav-link(href="#")
                  | Settings
          a.header__action(href="#")
            svg.header__action-icon
              use(href="images/sprite.svg#cart")
              title Cart
          a.header__action(href="#")
            svg.header__action-icon
              use(href="images/sprite.svg#search")
              title Search
<!-- /Header -->
