// Container properties
$cont-width: 1110;
$min-width: 320px;
$max-width: $cont-width+30;

// Media breakpoints
$media-lg: 1199.98;
$media-md: 991.98;
$media-sm: 767.98;
$media-xs: 575.98;

// Fonts
$primary-font: "PTSans",
sans-serif;
$secondary-font: "PlayfairDisplay",
sans-serif;
$logo-font: "PostNoBillsJaffna";

// Colours
$white: #ffffff;
$black: #000000;
$black-pearl: #191B1C;
$onyx: #0f0f0f;
$dark-gray: #1f1f1f;
$gray: #969696;
