<!-- Hero-->
section#hero.hero.ovl-50(style='background-image: url(images/bg/hero-bg.jpg);')
  .container
    .hero__body.d-f.jc-c
      .hero__content
        .hero__logo.d-f.fd-c.jc-c.ai-c(data-aos="zoom-out")
          h1.hero__title
            | Porten
          h3.hero__caption
            | London, est 1998
        p.hero__text(data-aos="fade-up" data-aos-delay="400")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus interdum purus, est tortor pulvinar ut in. Fringilla a diam enim sed justo, sed iaculis sagittis. Tortor id eu interdum nec ut iaculis. Penatibus ullamcorper ultricies morbi ipsum sem metus pharetra, mi. Tortor nibh magna feugiat id nunc, dui nisl viverra.
<!-- /Hero-->
