<!-- New goods-->
include ../mixins/mixins

section#new-goods.new-goods.section
  .container 
    h2.new-goods__heading.section__heading(data-aos="fade-up")
      | Новые поступления
    .new-goods__grid.d-g
      +card("new-goods__card", "#", "images/content/product-01.png", "Rotonde de Cartier", "Rotonde de Cartier", "50 584 457")
      +card("new-goods__card", "#", "images/content/product-04.png", "Rotonde de Cartier", "Rotonde de Cartier", "45 582 828")
      +card("new-goods__card", "#", "images/content/product-05.png", "Trinity Rose Gold 18K", "Trinity Rose Gold 18K", "353 974")
      +card("new-goods__card", "#", "images/content/product-06.png", "Juste un Clou 18K", "Juste un Clou 18K", "909 947")
      +card("new-goods__card", "#", "images/content/product-07.png", "Double C De Cartier", "Double C De Cartier", "46 162")
      +card("new-goods__card", "#", "images/content/product-08.png", "Wax Seal Motif De Cartier", "Wax Seal Motif De Cartier", "38 642")
      +card("new-goods__card", "#", "images/content/product-03.png", "Must de Cartier", "Must de Cartier", "183 704")
      +card("new-goods__card", "#", "images/content/product-09.png", "GM Pouch, Must De Cartier", "GM Pouch, Must De Cartier", "96 000")
<!-- /New goods-->
