<!-- Our brands-->
include ../mixins/mixins

section#our-brands.our-brands.section
  .container 
    h2.our-brands__heading.section__heading
      | наши бренды
    ul.our-brands__grid.d-g
      +brands_item('#', 'images/sprite.svg#blancpain', 'Blancpain')
      +brands_item('#', 'images/sprite.svg#cartier', 'Cartier')
      +brands_item('#', 'images/sprite.svg#chopard', 'Chopard Geneve')
      +brands_item('#', 'images/sprite.svg#givenchy', 'Givenchy Paris')
<!-- Our brands-->
