// Collections
.collections {
  &__row {
    overflow: hidden;
  }

  &__col {
    &--big {
      flex: 1 0 54.17%;
    }

    &--small {
      min-height: 400px;
      flex: 0 1 45.83%;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--season {
      padding: 93px 0 94px;
    }

    &--collection {
      padding: 100px 0;
      background-position: top left;
    }
  }

  &__grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  &__content {
    position: relative;
  }

  &__btn {
    position: relative;
  }

  &__text {
    max-width: 471px;
    margin: 0 0 66px;
    text-align: center;
  }

  @include respond(max-lg) {
    &__row {
      flex-wrap: wrap;
    }

    &__col {
      flex-basis: 100%;
    }

    &__grid {
      justify-items: center;
    }
  }

  @include respond(max-md) {
    &__col {
      padding: 80px 0;
    }

    &__btn {
      font-size: 14px;
    }
  }

  @include respond(max-sm) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 23px;
      row-gap: 40px;
    }
  }

  @include respond(max-xs) {
    &__grid {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
