// Header
.header {
  position: fixed;
  flex: 0 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  color: $gray;
  line-height: 1.14;
  transition: transform 0.5s ease 0s;

  &__row {
    &--top {
      padding: 14px 0;
      font-size: 12px;
      line-height: 1.29;
      background-color: $black;
    }

    &--bottom {
      padding: 15px 0 13px;
      top: 0;
      left: 0;
      background-color: $onyx;
    }
  }

  &__inner {
    align-items: center;
  }

  &__list {
    display: inline-flex;
  }

  &__item+&__item {
    margin-left: 14px;

    &::before {
      display: inline-block;
      width: 1px;
      height: 9px;
      margin-right: 13px;
      background-color: $gray;
      content: "";
    }
  }

  &__phone,
  &__btn {
    position: relative;
    padding-left: 31px;
    transition: color 0.3s ease 0s;

    @include respond(min-md) {
      &:hover {
        & {
          color: $white;
        }
      }
    }
  }

  &__btn {
    padding-left: 26px;
    margin-left: auto;
  }

  &__phone-icon,
  &__btn-icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
  }

  &__logo {
    max-width: 102px;
    display: inline-block;
  }

  &__logo-img {
    max-width: 100%;
  }

  &__menu {
    margin-left: auto;
    align-items: center;
  }

  &__nav-link {
    padding: 31px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;

    @include respond(min-md) {
      &:hover {
        background-color: $dark-gray;
        color: $white;
      }
    }
  }

  &__action {
    margin-left: 40px;
    color: $white;

    @include respond(min-md) {
      &:hover {
        color: $gray;
      }
    }
  }

  &__action-icon {
    width: 22px;
    height: 22px;
  }

  &__menu-btn {
    display: none;
  }

  @include respond(max-md) {
    &__row--bottom {
      position: relative;
    }

    &__inner {
      &--top {
        flex-wrap: wrap;
      }
    }

    &__menu {
      margin: 0 0 0 auto;
      padding: 0;
    }

    &__action {
      margin: 0 30px 0 0;
    }

    &__menu-btn {
      position: relative;
      display: block;
      z-index: 103;
      width: 30px;
      height: 18px;
      order: 3;
      padding: 0;
      border: none;
      background-color: transparent;
      outline: none;

      &.active {
        .header__line:first-child {
          top: 8px;
          transform: rotate(-45deg);
        }

        .header__line:nth-child(2) {
          transform: scale(0);
        }

        .header__line:last-child {
          bottom: 8px;
          transform: rotate(45deg);
        }
      }
    }

    &__line {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: transform 0.3s ease 0s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 0;
      }
    }

    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      padding: 97px 15px 40px;
      background-color: $dark-gray;
      transform: translateY(-100%);
      transition: transform 0.5s ease 0s;

      &.active {
        transform: translateY(0);
      }
    }

    &__nav-list {
      flex-direction: column;
      align-items: center;
    }

    &__nav-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__nav-link {
      padding: 0;
    }
  }

  @include respond(max-xs) {
    &__item:not(:first-child) {
      display: none;
    }
  }
}
